<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gemify - Create Product Item</title>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  
  <meta name='theme-color' content="000000" />
  </head>

  <body>
<!-- 
  Product form for creating and posting item
-->   

<form>
  <div class ="create_product">
    <label for="ProductTitle">Product Title</label>label
    <input type="ProductTitle" class="form-contorl" id="ProductTitle" placeholder="enter product title">
</form>
    
  </body>